{% extends "layouts/base.html.twig" %}

{% block title 'Mon Panier | ' ~ parent() %}

{% block content %}
    <h3 class="display-6">Mon Panier</h3>
    <div class="float-right mt-2 mr-2">
        <a href="{{path('account')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon compte
        </a>
    </div>
    <div class="jumbotron">
        {% if cart|length > 0 %}
            <p class="lead">Retrouvez l'ensemble des produits ajoutés à votre panier.</p>
            <table class="table mt-3 mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="customized-name-title">Article</th>
                        <th scope="col"></th>
                        <th scope="col">Prix</th>
                        <th scope="col" class="customized-quantity-title">Quantité</th>
                        <th scope="col" class="customized-price-title">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for index in cart %}
                    <tr>
                        <td>
                            <img src=" {{ asset('/uploads/' ~ index.product.picture)}} " alt="{{ index.product.name }}" title="{{ index.product.name }}" class="img-fluid illustration-min">
                        </td>
                        <td class="customized-name">{{ index.product.name }}</td>
                        <td>{{ index.product.formattedPrice }} €</td>
                        <td class="customized-quantity">
                            <a href="{{path('decrease_from_cart', {'id' : index.product.id})}}" title="diminuer">
                                <i class="text-warning fas fa-minus"></i>
                            </a>
                            <span style="margin-left:0.6vw;">X {{ index.quantity}}</span>
                            <a href="{{path('add_to_cart', {'id' : index.product.id})}}" title="augmenter">
                                <i class="text-warning fas fa-plus"></i>
                            </a>
                        </td>
                        <td class="customized-price">{{ (index.product.price/100)|number_format(2, ',', '.') }} €</td>
                        <td class="customized-price">{{ ((index.product.price * index.quantity) /100)|number_format(2, ',', '.') }} €</td>
                        <td>
                            <a class="btn btn-danger" href="{{path('delete_from_cart', {'id' : index.product.id})}}" title="supprimer">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% for command in totalPrice %}
                        <div class="customized-price">{{ command.quantity }} €</div>
                    {% endfor %}
                {% set total = total + (index.product.price * index.quantity) %}
                {% endfor %}
                </tbody>
            </table>

            <div class="vertical-space-1"></div>

            <hr/>

            <div class="vertical-space-3"></div>

            <div class="text-center mb-3 d-flex justify-content-around">
                <b><span class="customized-quantity-title"> {{ cart|length }} </span> article(s) pour un total de <span class="customized-price-title"> {{ (total/100)|number_format(2, ',', '.') }} €</span></b>
            </div>
                
                <div class="vertical-space-3"></div>

            <div class="lead d-flex justify-content-center">
                <a class="btn btn-success btn-lg" href="#" role="button" title="valider la commande">
                    <i class="fas fa-check"></i>
                </a>
                <div class="horizontal-space-2"></div>
                <a class="btn btn-danger btn-lg" href="{{path('remove_cart')}} " role="button" title="annuler la commande">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        {% else %}
        
            <br>
            <p class="lead">Il semblerait que votre panier soit vide.</p>

            <p class="lead ml-4">
                Retourner vers la boutique?
                <a href="{{path('products')}}" title="Nos Produits">
                    <i class="ml-3 user-color fas fa-store"></i>
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}