{% extends "layouts/base.html.twig" %}

{% block title 'Mon Panier | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2 d-flex flex-column">
        <a href="{{path('account')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon compte
        </a>
        <div class="vertical-space-1"></div>
        <a href="{{path('products')}}" class="btn btn-secondary" title="la boutique">
            <i class="fas fa-store"></i> La boutique
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">
            <i class="fas fa-shopping-cart user-color"></i>
             Mon Panier {% if cart|length < 1 %} (vide){% endif %}
        </h3>
        <br>
        {% if cart|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-primary">Article</th>
                        <th scope="col" class="table-secondary"></th>
                        <th scope="col" class="table-info">Prix</th>
                        <th scope="col" class="table-primary">Quantité</th>
                        <th scope="col" class="table-warning">Total</th>
                        <th scope="col" class="table-secondary"></th>
                    </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for index in cart %}
                    <tr>
                        <td class="table-primary">
                            <img src=" {{ asset('/uploads/' ~ index.product.picture)}} " alt="{{ index.product.name }}" title="{{ index.product.name }}" class="img-fluid illustration-min">
                        </td>
                        <td class="table-secondary">{{ index.product.name }}</td>
                        <td class="table-info">{{ index.product.formattedPrice }} €</td>
                        <td class="table-primary">
                            <a href="{{path('decrease_from_cart', {'id' : index.product.id})}}" title="diminuer">
                                <i class="text-info fas fa-minus"></i>
                            </a>
                            <span style="margin-left:0.6vw;">x {{ index.quantity}}</span>
                            <a href="{{path('add_to_cart', {'id' : index.product.id})}}" title="augmenter">
                                <i class="text-info fas fa-plus"></i>
                            </a>
                        </td>
                        <td class="table-warning"><span class="text-warning">{{ ((index.product.price * index.quantity) /100)|number_format(2, ',', '.') }}</span> €</td>
                        <td class="table-secondary">
                            <a class="btn btn-danger" href="{{path('delete_from_cart', {'id' : index.product.id})}}" title="supprimer">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% set total = total + (index.product.price * index.quantity) %}
                {% endfor %}
                </tbody>
            </table>

            <div class="vertical-space-1"></div>

            <hr/>

            <div class="vertical-space-1"></div>

            <div class="text-center mb-3 d-flex justify-content-around">
                <b><span class="text-info"> {{ cart|length }} </span> article(s) pour un total de <span class="text-warning"> {{ (total/100)|number_format(2, ',', '.') }}</span> €</b>
            </div>
                
                <div class="vertical-space-3"></div>

            <div class="lead d-flex justify-content-center">
                <a class="btn btn-success btn-lg" href="{{path('order')}}" role="button" title="valider la commande">
                    <i class="fas fa-check"></i>
                </a>
                <div class="horizontal-space-2"></div>
                <a class="btn btn-danger btn-lg" href="{{path('remove_cart')}}" role="button" title="annuler la commande">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        {% else %}
            <hr>
        {% endif %}
    </div>
{% endblock %}