{% extends "layouts/base.html.twig" %}

{% block title 'Mon Compte | ' ~ parent() %}

{% block content %}
    <div class="jumbotron">
    {% if app.user %}
        <h3 class="display-8 d-flex justify-content-center"><i>{{ app.user.firstname }}</i>, </h3>
        <p class="lead d-flex justify-content-center"> Bienvenue sur votre page personnelle.</p>
        <hr class="my-4">
        <div>
            <a href="{{path('edit_password')}}"> - Modifier mon mot de passe</a><br/>
            <a href="{{path('home')}}"> - Accéder à mon panier</a><br/>
            <a href="{{path('products')}}"> - Découvrir nos produits</a><br/>
        </div>
    {% else %}
        <p class="lead d-flex justify-content-center">Houston, we have a problem.</p>
        <hr class="my-4">
        <div>
            <a href="{{path('home')}}"> - Revenir à la page d'accueil</a><br/>
            <a href="{{path('app_login')}}">- Se connecter</a><br/>
        </div>

    {% endif %}
    </div>


{% endblock %}
