<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand " href="{{path('home')}}"><span class="user-color">eCommerCe</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}"><span class="user-color">Nos produits</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}"><span class="user-color">Qui sommes-nous?</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}"><span class="user-color">Contact</span><span class="sr-only">(current)</span></a>
                </li>
                <div class="horizontal-space-3"></div>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('admin')}}" title="Admin">
                        <i class="fas fa-tools user-color"></i>
                    </a>
                </li>
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
                    {# <a href="{{path('cart')}}" title="Panier">
                        <i class="user-color fas fa-shopping-cart"></i>
                        <span class="user-color" > | </span>
                    </a> #}
                    <a href="{{path('account')}}">
                        <i class="user-color fas fa-user-cog" title="mon compte"></i>
                        <span class="user-color" > | </span>
                    </a>
                    <a href="{{path('app_logout')}}" title="Déconnexion">
                        <i class="user-color fas fa-user-alt-slash"></i>
                    </a>            
                {% else %}
                    <a href="{{path('app_login')}}" title="Connexion">
                        <i class="user-color fas fa-user"></i>
                        <span class="user-color" > | </span>
                    </a>
                    <a href="{{path('register')}}" title="Inscription">
                        <i class="user-color fas fa-user-edit"></i>
                    </a>            
                {% endif %}
            </div>
        </div>
    </nav>
</header>