<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">La Boutique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hommes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Femmes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enfants</a>
                </li>
            </ul>
            {% if app.user %}
                <a href="{{path('account')}}" class="btn btn-secondary">Mon Compte</a> | <a href="{{path('app_logout')}}" class="btn btn-dark">Déconnexion</a>
            {% else %}
                <a href="{{path('app_login')}}" class="btn btn-secondary">Connexion</a> | <a href="{{path('register')}}" class="btn btn-dark">Inscription</a>
            {% endif %}
        </div>
    </nav>
</header>