<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand " href="{{path('home')}}"><span class="user-color"><i class="text-warning fas fa-euro-sign"></i> commerce</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}">
                        <span class="user-color">
                            <i class="text-warning fas fa-store"></i> La boutique
                        </span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <div class="horizontal-space-3"></div>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">
                    <span class="user-color">
                        <i class="text-warning fas fa-question"></i> À propos
                    </span>
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <div class="horizontal-space-3"></div>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">
                        <span class="user-color">
                            <i class="text-warning fas fa-file-signature"></i> Contact
                        </span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <div class="horizontal-space-3"></div>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('admin')}}" title="Admin">
                        <span class="user-color">
                            <i class="text-warning fas fa-tools user-color"></i> Admin
                        </span>
                    </a>
                </li>
                {% if app.user %}
                <div class="horizontal-space-3"></div>
                <div class="horizontal-space-3"></div>
                <div class="horizontal-space-3"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('account')}}" title="Mon Compte" disabled>
                        <span class="user-color">
                            <i class="text-warning fas fa-thumbs-up"></i> {{ app.user.lastName }} {{ app.user.firstName }}
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
                    <a href="{{path('account')}}">
                        <i class="user-color fas fa-user-cog" title="mon compte"></i>
                        <span class="text-warning" > | </span>
                    </a>
                    <a href="{{path('app_logout')}}" title="Déconnexion">
                        <i class="user-color fas fa-user-alt-slash"></i>
                    </a>            
                {% else %}
                    <a href="{{path('app_login')}}" title="Connexion">
                        <i class="user-color fas fa-user"></i>
                        <span class="text-warning" > | </span>
                    </a>
                    <a href="{{path('register')}}" title="Inscription">
                        <i class="user-color fas fa-user-edit"></i>
                    </a>            
                {% endif %}
            </div>
        </div>
    </nav>
</header>