{% extends "layouts/base.html.twig" %}

{% block title 'Nos Produits | ' ~ parent() %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <h3>Filtrer</h3>
            {{ form(form)}} 
        </div>
        <div class="col-md-10">
            <h3>Nos Produits</h3>
            <div class="vignettes">
                {% for product in products %}
                    <div class="col-md-4 vignette">
                        <div class="product-item text-center">
                            <a href="{{path('show_one_product', {id:product.id})}}">
                                <img src="{{ asset('/uploads/' ~ product.picture) }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid img-thumbnail illustration ">
                            </a>
                            <div class="under-vignette">
                                <span class="product-title">{{ product.name }}</span>
                                <span class="product-price">{{ (product.price/100)|number_format(2, ',' , '.') }} €</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
