{% extends "layouts/base.html.twig" %}

{% block title 'Valider ma commande | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2">
        <a href="{{path('cart')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon panier
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">
            <i class="fas fa-list-alt user-color"></i> Ma commande
        </h3>
        <hr>
        <div class="vertical-space-2"></div>
        <div class="row">
            <div class="col-md-6">
                {# <h6 class="text-center">
                    <i class="fas fa-map-marker-alt user-color"></i> Mon adresse de livraison
                </h6> #}
                {% set formHtml %}
                    {{ form_start(form, {action:path('order_details')}) }}
                    {{ form_end(form) }}
                {% endset %}
                
                {{ formHtml|replace({'[br]' : '<br/>'})|raw }}

                {# <h6 class="text-center">
                    <i class="fas fa-shipping-fast user-color"></i> Mon transporteur
                </h6> #}
            </div>
            <div class="mt-1 col-md-6">
                {# <h6 class="text-center">
                    <i class="fas fa-list user-color"></i> Les articles de mon panier
                </h6> #}
                {% for product in cart %}
                    <div class="row">
                        <div class="col-4">
                            <img src=" {{ asset('/uploads/' ~ product.product.picture)}} " alt="{{ product.product.name }}" title="{{ product.product.name }}" class="img-fluid illustration-min">
                        </div>
                        <div class="col-6 my-auto">
                            <span class="text-warning">{{ product.product.name}}</span>
                        </div>
                        <div class="col-2 my-auto">
                            x  <span class="text-info">{{ product.quantity}}</span>
                        </div>
                    </div>
                    <div class="vertical-space-1"></div>
                    {# <pre>
                        {{ dump(cart) }}
                    </pre> #}
                {% endfor %}
                <a href="{{path('order_details')}}" class="btn btn-warning btn-block">Payer</a>
            </div>
        </div>
    </div>
{% endblock %}