{% extends "layouts/base.html.twig" %}

{% block title 'Détails de ma commande | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2">
        <a href="{{path('cart')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon panier
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">
            <i class="fas fa-info-circle user-color"></i> Détails de ma commande
        </h3>
        <hr>
            <div class="vertical-space-3"></div>
        <div class="row">
            <div class="col-md-6 d-flex flex-row">
                <div class="col-md-6">
                    <h5 class="text-secondary">Mon adresse de livraison</h5><br>
                    <h6 class="text-secondary">{{delivery.name}}</h6>
                    <p>{{delivery.address}} <br> {{delivery.postal}} - {{delivery.city}}<br>{{delivery.country}}</p>
                </div>

                <div class="col-md-6">
                    <h5 class="text-secondary">Le Transporteur</h5><br>
                    <h6 class="text-secondary">{{carrier.name}}</h6>
                    <p>{{carrier.description}}</p>
                    <strong>{{(carrier.price/100)|number_format(2,',', '.')}} €</strong>
                </div>

            </div>
            <div class="mt-1 col-md-6">
            {% set total = null %}
            {% for key, product in cart %}
                <div class="row">
                    <div class="col-4">
                        <img src=" {{ asset('/uploads/' ~ product.product.picture)}} " alt="{{ product.product.name }}" title="{{ product.product.name }}" class="img-fluid illustration-min">
                    </div>
                    <div class="col-6 my-auto d-flex flex-row justify-content-between">
                        <span class="text-warning">{{ product.product.name}}</span>
                        x  <span class="text-info">{{ product.quantity}}</span> = 
                        <span class="text-warning">{{ ((product.product.price * product.quantity) /100)|number_format(2, ',', '.') }}</span> €
                    </div>
                </div>
                <div class="vertical-space-1"></div>

            {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
                <div class="vertical-space-1"></div>
                <a href="{{path('order_details')}}" class="btn btn-warning btn-block">Payer</a>
                <hr>
                <small>
                    <b>Sous-Total : </b>
                    <span class="text-warning"> {{ (total/100)|number_format(2, ',', '.') }}</span> <b>€</b>
                </small> 
                <br/>
                <small><b>Livraison : </b>
                    <span class="text-secondary"> {{ (carrier.price/100)|number_format(2, ',', '.') }}</span> <b>€</b>
                </small>
                <br/><br/>
                <strong>Total : 
                    <span class="text-info"> {{ ((carrier.price/100) + (total/100))|number_format(2, ',', '.') }}</span> €
                </strong>
            </div>
        </div>
    </div>
{% endblock %}
